#footer-bottom{
    padding: 20px 0;
    background-color:#fd79a8;
}

.copyright-text{
    text-align: center;
    h2{
        font-size: 16px;
        font-weight: 400;
        color: $white;
        line-height: 28px;
    }
}