.header{
    &__top{
        padding: 10px 20px;
        background-color: $themeColor;
    }
    
    &__nav{
        padding: 10px 20px;
        background-color: $themeBlue;
    }
}

.header__top{
    
    &__content{
        display: flex;
        justify-content: space-between;
    }
    
    &__contact,
    &__address{
        ul{
            display: flex;
            li{
                &:not(:first-child){
                    margin-left: 10px;
                }
            }
            li a{
                font-size: 12px;
                font-weight: 400;
                color: $white;
                transition: 0.3s;
                &:hover{
                    color: $themeYellow;
                }
            }
        }
    }
}

.header__nav{
    &__extra{
        border-left: 1px solid rgba(255, 255, 255, 0.4);
        margin-left: 10px;
        display: flex;
        align-items: center;
        li{
            margin: 0 10px;
            &:last-child{
                margin-left: 20px;
                margin-right: 0;
            }
        }
        
        li a{
            text-transform: capitalize;
            font-size: 15px;
            font-weight: 400;
            color: $white;
            line-height: 28px;
            transition: 0.3s;
            &:hover{
                color: $themeYellow;
            }
        }
    }
}

.my-cart{
    position: relative;
    span{
        position: absolute;
        top: -10px;
        right: -10px;
        background-color: $themeColor;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.navbar-brand{
    img{
        width: 200px;
        height: 50px;
    }
}

.navbar-toggler{
    border: 0;
    &:focus{
        outline: none;
        box-shadow: none;
    }
    i{
        font-size: 20px;
        color: $themeColor;
    }
}

//main menu style
.nav-link{
    padding: 0 !important;
}

.main-menu{
    > li{
        position: relative;
        &:not(:first-child){
            margin-left: 40px;
        }
    }
    li a{
        text-transform: capitalize;
        font-size: 15px;
        font-weight: 400;
        color: $white;
        line-height: 28px;
        transition: 0.3s;
        position: relative;
        &::before{
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            width: 0;
            height: 1px;
            background-color: $navHoverColor;
            opacity: 0;
            transition: 0.3s;
        }
        &:hover{
            color: $navHoverColor;
            &::before{
                width: 20px;
                opacity: 1;
            }
        }
    }
    li:hover .submenu{
        opacity: 1;
        visibility: visible;
    }
    .submenu{
        position: absolute;
        top: 150%;
        left: -20px;
        width: 200px;
        padding: 15px 0;
        border: 1px solid rgb(245, 245, 245);
        background-color: $white;
        box-shadow: rgba(137, 139, 142, 0.15) 0px 30px 70px 0px;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
        li{
            padding: 5px 15px;
        }
        li a{
            color: $titleColor;
            &::before{
                display: none;
            }
            &:hover{
                color: $navHoverColor;
            }
        }
    }
}