.navbar-brand{
    img{
        width: 100px;
    }
}

.navbar-toggler{
    border: 0;
    &:focus{
        outline: none;
        box-shadow: none;
    }
    i{
        font-size: 20px;
        color: $themeColor;
    }
}

//main menu style
.nav-link{
    padding: 0 !important;
}

.main-menu{
    > li{
        position: relative;
        &:not(:first-child){
            margin-left: 40px;
        }
    }
    li a{
        text-transform: capitalize;
        font-size: 15px;
        font-weight: 400;
        color: rgb(29, 49, 108);
        line-height: 28px;
        transition: 0.3s;
        position: relative;
        &::before{
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            width: 0;
            height: 1px;
            background-color: $titleColor;
            opacity: 0;
            transition: 0.3s;
        }
        &:hover{
            color: $titleColor;
            &::before{
                width: 20px;
                opacity: 1;
            }
        }
    }
    li:hover .submenu{
        opacity: 1;
        visibility: visible;
    }
    .submenu{
        position: absolute;
        top: 150%;
        left: -20px;
        width: 200px;
        padding: 15px 0;
        border: 1px solid rgb(245, 245, 245);
        background-color: $white;
        box-shadow: rgba(137, 139, 142, 0.15) 0px 30px 70px 0px;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
        li{
            padding: 5px 15px;
        }
        li a{
            &::before{
                display: none;
            }
        }
    }
}