//solid color
$white: #fff;
$black: #000;
$green: #00BE4C;
$red: #ff0000;
$blue: #0000ff;

//body color
$bodyColor: #2c3e50;

//theme color
$themeColor: #2980b9;
$titleColor: #6c5ce7;
$subtitleColor: #187e69;
$textColor: #32325d;

//background color
$bgSection: #dfe6e9;