//solid color
$white: #fff;
$black: #000;
$green: #00BE4C;
$red: #ff0000;
$blue: #0000ff;

//body color
$bodyColor: #2c3e50;

//theme color
$themeColor: #2980b9;
$themeYellow: #F9D662;
$themeBlue: #3B268E;

//text color
$titleColor: #3C3664;
$titleColorPurple: #2C2790;
$textColor: #595954;
$textColorGray: #81817F;

//nav color
$navItemColor: #535354;
$navHoverColor: #F5D361;

//background color
$bgInput: #F8F8F8;
$placeholderColor: #C4C4C4;
$bgSlider: #FFFBF0;
$bgFooter: #2A2294;
$bgButton: #FEAF3A;
$bgButtonBrightSun: #FDD03B;
$bgLineColor: #E5E5E5;
$bgWhiteLilac: #F8F9FC;

//border color
$borderColor: #EDEDED;
$borderColorGray: #EAEBED;
$borderColorGallery: #EBEBEB;
$borderColorAlto: #D5D5D5;

//others color
$linkHoverColor: #FA9706;
$metaColor: #E0E0E0;

//icon color
.fa-facebook{background-color: #285091;}
.fa-whatsapp{background-color: #49C456;}
.fa-twitter{background-color: #1C9CEA;}
.fa-youtube{background-color: #D12322;}